@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";

body {
  background-color: white;
  font-family: "Inter", sans-serif;
  color: #333;
}

html {
  scroll-behavior: smooth;
}
